*.swp

# Dependencies
/vendor/*

# OSX
.DS_Store

# Ruby gems and binstubs from our Gemfile
/.bundle

# iOS
ios/Pods/
build/
dynamic.*.xcconfig
GoogleService-*-Info.plist
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.dSYM.zip
*.xcuserstate
*.xcscmblueprint
project.xcworkspace
ios/Driver.xcworkspace

# Android
.idea
.gradle
*.iml
/android/captures
.externalNativeBuild/
android/local.properties
android/.project
android/app/.project
android/app/bin/
android/.settings/
android/app/.classpath
android/app/.settings/

# Node.js
node_modules/
npm-debug.log

# Code Coverage
/.nyc_output/
/coverage/

# Artifacts
dist/

# Don't check in environment overrides
configjs/envOverrides.json

Autosave files
*~

# build/test
[Oo]bj/
[Bb]in/
/ConvoyUITests/packages/
/ConvoyUITests/results.xml
/ConvoyUITests/junit_results.xml

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
*.tsbuildinfo
tarballs/
test-results/
Thumbs.db

# Fastlane
fastlane/report.xml

# Mac bundle stuff
*.dmg

# resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover

# Automation additions

# Binaries
*.ipa
*.app
*.apk

# Archives
*.zip

# Nuget
*.nupkg

# Circle
.build-env

# Yalc
.yalc/

/translations
